/*Carrusel*/
.carousel-container {
    position: relative;
    width: 40%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .carousel-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
  }
  
  .carousel-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1;
    font-size: 1.5em;
    border-radius: 50%;
    outline: none;
  }
  
  .carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
